$bg-color-dark: #27282B;
$bg-color-dark1: #1F2023;
$bg-color-dark2: #2D3033;
$bg-color-dark3: #2D2F32;
$bg-color-light: #4B4E51;
$bg-color-light2: #8f8e94;
$bg-color-light3: #3C3F43;

$black: #000000;
$blue: #00a9d5;
$yellow: #ffc107;
$red: #fd0304;
$white: #ffffff;
