@import "themes/default_theme";

$headerHeight: 50px;
$sidePanelWidth: 480px;
$playerBottomPanelHeigth: 200px;
$playerTrackHeight: 13px;

html, body {
  width: 100%;
  height: 100%;
}
.vg {
  &-main-container {
    width: 100%;
    height: 100%;
    display: block;
    background: $bg-color-dark1;
  }
  &-header {
    height: 50px;
    @extend %flex-spaced-between;
    color: $bg-color-light2;
    background: $bg-color-dark;
    span {
      padding: 0 15px;
    }
  }
  &-main {
    @extend %flex;
    height: calc(100% - #{$headerHeight});
  }
  &-player {
    &-wrapper {
      width: calc(100% - #{$sidePanelWidth});
      height: 100%;
      display: block;
      .vg-player {
        &-section {
          width: 100%;
          height: calc(100% - #{$playerBottomPanelHeigth});
          background-image: url("ga.png");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &-bottom {
          display: block;
          &-status-track {
            position: relative;
            height: $playerTrackHeight;
            background: $black;
          
          }
          &-controls {
            
          }
          &-filmstrip {
            
          }
        }
      &-scrubber {
        position: absolute;
        display: block;
        width: 12px;
        height: 13px;
        cursor: pointer;
        &-tail {
          width: 12px;
          height: 9px;
          background-color: $trackScrubberColor;
        }
        &-nose {
          width: 0px;
          height: 0px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 4px solid $trackScrubberColor;
        }
      }
      }
    }
  }
  
  &-side-panel {
    position: relative;
    width: $sidePanelWidth;
    height: 100%;
    box-shadow: 1px 1px 27px 1px red;
    .vg-track-area-container {
      @extend %flex-spaced-between;
      padding: 10px 25px 10px 25px;
      color: $bg-color-light2;
      background: $bg-color-light3;
      .vg-track-input-container {
        position: relative;
        width: 85%;
        &.active {
          .vg-track-dropdown {
            display: block;
          }
        }
        .vg-track-input {
          @extend %input-default;
          width: 100%;
          cursor: pointer;
        }
        .vg-track-dropdown {
          @extend %input-dropdown;
          display: none;
          width: 100%;
          height: auto;
          max-height: 200px;
          padding-left: 20px;
          top: 55%;
          li {
            display: flex;
            justify-content: space-between;
            .vg-track-item-actions {
              display: none;
              span {
                padding-right: 15px;
              }
            }
            &:hover {
              .vg-track-item-actions {
                display: block;
              }
            }
          }
        }
      }
      .vg-track-actions {
        width: 15%;
        text-align: right;
      }
    }
    .vg-tags-search-area {
      @extend %flex-spaced-between;
      padding: 10px 25px 10px 25px;
      margin-top: 2px;
      color: $bg-color-light2;
      background: $bg-color-light3;
      .vg-selected-events {
        .vg-selected-events-input {
          @extend %input-default;
          width: 120px;
          opacity: 0.6;
        }
      }
      .vg-tags-search {
        .vg-tags-search-input {
          @extend %input-default;
          width: 220px;
          color: white;
        }
      }
    }
    &-events {
      overflow-y: auto;
      height: inherit;
      max-height: calc(100% - 135px);
      &::-webkit-scrollbar {
        width: 12px;
        background: #000000;
      }
      &::-webkit-scrollbar-thumb {
        border: 4px solid #000000;
        border-radius: 15px;
        background: $bg-color-light3;
      }
      &-item {
        margin: 8px 25px;
        padding: 8px 20px;
        background: $bg-color-dark2;
        &:hover {
          background: $bg-color-light3;
        }
        &-time-area {
          @extend %flex-spaced-between;
          color: $bg-color-light2;
          .vg-edit_icon {
            visibility: hidden;
          }
        }
        &-tags-area {
          position: relative;
          color: white;
          margin: 10px 0;
          padding: 10px 0;
          line-height: 2rem;
          border-top: 1px solid $bg-color-light;
          border-bottom: 1px solid $bg-color-light;
          .vg-event-tag {
            padding: 5px 13px 5px 13px;
            white-space: nowrap;
            background: $bg-color-light;
            border-radius: 13px;
          }
          .add_tag {
            display: none;
          }
          &-input {
            @extend %input-default;
            display: none;
            width: 100%;
            padding-left: 15px !important;
            color: $bg-color-light2;
            &-container {
              z-index: 1;
              position: absolute;
              width: 100%;
              background: $bg-color-light3;
              border-radius: 4px;
              box-shadow: -1px 0px 15px -4px black;
            }
            &-dropdown {
              position: relative;
              width: 96%;
              height: auto;
              max-height: 200px;
              padding-left: 0px;
              margin: 2%;
              overflow-y: auto;
              color: $bg-color-light2;
              background: $bg-color-dark2;
              border-radius: 4px;
              list-style: none;
              line-height: 2rem;
              &::-webkit-scrollbar {
                width: 10px;
                background: $bg-color-dark1;
              }
              &::-webkit-scrollbar-thumb {
                border: 3px solid $bg-color-dark1;
                border-radius: 15px;
                background: $bg-color-light3;
              }
              li {
                padding-left: 10px;
                cursor: pointer;
                border-bottom: 1px solid $bg-color-light3;
                &:hover {
                  background: $bg-color-light;
                }
              }
            }
          }
        }
        &-description-area {
          color: $bg-color-light2;
          .description-input {
            width: 100%;
            outline: none;
            border: 0;
            background: transparent;
            font-weight: 100;
            color: $bg-color-light2;
          }
        }
        &.editable {
          background: $bg-color-light3;
          box-shadow: inset 6px 0px 0px 0px $blue;
          .vg-edit_icon {
            visibility: visible;
          }
          .add_tag {
            display: inline;
            cursor: pointer;
          }
        }
        &.new_event {
          background: $bg-color-light3;
          .vg-side-panel-events-item-tags-area-input {
            display: block;
            width: calc(100% - 15px);
          }
          box-shadow: inset 6px 0px 0px 0px $yellow;
          .vg-edit_icon {
            visibility: visible;
          }
        }
      }
    }
    &-footer {
      @extend %flex-spaced-between;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px 25px 10px 25px;
      color: $bg-color-light2;
      background: $bg-color-light3;
      &-content {
        position: relative;
        .vg-icon {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &-input {
          @extend %input-default;
          width: 200px;
          cursor: pointer;
          &:hover {
            .vg-side-panel-footer-content.yo {
              display: block !important;
            }
          }
        }
        &-input-dropdown {
          @extend %input-dropdown;
          width: 220px;
          max-height: 200px;
          bottom: 55%;
          padding-left: 0px;
          li {
            padding-left: 20px;
            &:hover {
              background: $bg-color-light3;
            }
          }
        }
      }
    }
  }
}