%flex {
  display: flex;
  &-spaced-between {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
  }
}

%input-default {
  height: 25px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background: $bg-color-dark1;
}