%flex {
  display: flex;
  &-spaced-between {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
  }
}

%input-default {
  height: 25px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background: $bg-color-dark1;
}

%input-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

%input-dropdown {
  position: absolute;
  overflow-y: auto;
  background: $bg-color-dark1;
  border-radius: 4px;
  z-index: 1;
  list-style: none;
  line-height: 2rem;
  box-shadow: -1px 0px 15px -4px black;
}