html, body {
  width: 100%;
  height: 100%; }

.vg-main-container {
  width: 100%;
  height: 100%;
  display: block;
  background: #1F2023; }
.vg-header {
  height: 50px;
  font-size: 12px;
  color: #8f8e94;
  background: #27282B; }
  .vg-header_menu-item {
    cursor: pointer;
    padding: 0 15px; }
  .vg-header-right {
    padding-right: 10px; }
.vg-main {
  padding: 10px;
  height: calc(100% - 70px);
  background: #2D3033; }
.vg-player-wrapper {
  width: calc(100% - 480px);
  height: 100%;
  display: block; }
  .vg-player-wrapper .vg-player-section {
    width: 100%;
    position: relative;
    height: calc(100% - 162px);
    background-image: url("ga.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .vg-player-wrapper .vg-player-controls {
    height: 162px; }
    .vg-player-wrapper .vg-player-controls-timeline {
      position: relative;
      height: 8px;
      overflow: hidden;
      background-color: #000000; }
      .vg-player-wrapper .vg-player-controls-timeline .vg-player-timeline-highlight {
        position: absolute;
        height: 100%;
        background: #ffc107;
        opacity: 0.5; }
      .vg-player-wrapper .vg-player-controls-timeline_ruler {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .vg-player-wrapper .vg-player-controls-timeline_ruler i {
          width: 1px;
          height: 4px;
          background: #3C3F43; }
          .vg-player-wrapper .vg-player-controls-timeline_ruler i:nth-child(11n) {
            height: 8px; }
          .vg-player-wrapper .vg-player-controls-timeline_ruler i:first-child, .vg-player-wrapper .vg-player-controls-timeline_ruler i:last-child {
            height: 8px; }
    .vg-player-wrapper .vg-player-controls-buttons {
      height: 36px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      color: #8f8e94;
      background: #27282B; }
      .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right::before {
        font-family: VG_Custom_Icons;
        font-size: 10px;
        content: "\e90f";
        cursor: pointer;
        padding-right: 10px; }
      .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right::after {
        font-family: VG_Custom_Icons;
        padding: 0 10px;
        cursor: pointer;
        content: "\e90f"; }
      .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range] {
        -webkit-appearance: none;
        width: 150px;
        margin: 0;
        border: none;
        border-radius: 15px;
        padding: 1px 2px;
        cursor: pointer;
        outline: none;
        background: transparent; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-moz-focus-outer {
          border: 0; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-webkit-slider-runnable-track {
          height: 6px;
          background: #000000;
          border: none;
          border-radius: 15px; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-moz-range-track {
          height: 6px;
          background: #000000;
          border: none;
          border-radius: 15px; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-ms-track {
          height: 6px;
          background: #000000;
          border: none;
          border-radius: 15px; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 6px;
          height: 12px;
          cursor: pointer;
          background: url("images/thumb.svg") no-repeat center center;
          background-size: contain; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-moz-range-thumb {
          width: 6px;
          height: 12px;
          cursor: pointer;
          border: 0;
          background: url("images/thumb.svg") no-repeat center center;
          background-size: contain; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-right input[type=range]::-ms-thumb {
          width: 6px;
          height: 12px;
          cursor: pointer;
          background: url("images/thumb.svg") no-repeat center center;
          background-size: contain; }
      .vg-player-wrapper .vg-player-controls-buttons .vg-controls-center {
        display: flex; }
        .vg-player-wrapper .vg-player-controls-buttons .vg-controls-center.group-2 {
          padding: 0 5px; }
    .vg-player-wrapper .vg-player-controls .vg-player-filmstrip {
      height: 118px; }
      .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_timeline {
        height: 28px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        color: #8f8e94;
        font-size: 9px;
        background: #3C3F43; }
      .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_timecode {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 10%;
        height: 100%;
        color: #8f8e94;
        font-size: 9px; }
        .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_timecode .sm-pyaka {
          width: 10%;
          border-left: 1px solid;
          height: 4px; }
        .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_timecode .bg-pyaka {
          position: relative;
          width: 10%;
          border-left: 1px solid;
          height: 7px; }
        .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_timecode .timecode_value {
          position: absolute;
          left: -25px;
          bottom: 10px; }
      .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_canvas {
        position: relative;
        height: 90px;
        background: url("filmstrip.png") no-repeat;
        background-size: cover; }
        .vg-player-wrapper .vg-player-controls .vg-player-filmstrip_canvas:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 25%;
          border-right: 1px solid #fd0304; }
      .vg-player-wrapper .vg-player-controls .vg-player-filmstrip .filmstrip-crop-frame {
        position: absolute;
        width: 15%;
        height: 100%;
        left: 19%;
        box-shadow: inset 0px 0px 0px 1px #ffc107;
        background: rgba(0, 0, 0, 0.3); }
  .vg-player-wrapper .vg-player-scrubber {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    transform: translateX(-4px); }
    .vg-player-wrapper .vg-player-scrubber-tail {
      width: 8px;
      height: 5px;
      background-color: #fd0304; }
    .vg-player-wrapper .vg-player-scrubber-nose {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 3px solid #fd0304; }
.vg_video-info {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 200px;
  padding: 10px;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 100;
  opacity: 0.65;
  background: #000000; }
  .vg_video-info_content {
    display: flex;
    line-height: 1.8em; }
  .vg_video-info_title {
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #b6b5b9; }
  .vg_video-info_value {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ffffff; }
.vg_visible {
  display: block; }
.vg-icon {
  cursor: pointer;
  margin: 0 10px; }
.vg-side-panel {
  position: relative;
  width: 480px;
  height: 100%;
  background: #1F2023; }
  .vg-side-panel .vg-track-area-container {
    padding: 10px 25px 10px 25px;
    color: #8f8e94;
    background: #3C3F43; }
    .vg-side-panel .vg-track-area-container .vg-track-input-container {
      position: relative;
      width: 80%; }
      .vg-side-panel .vg-track-area-container .vg-track-input-container.active .vg-track-dropdown {
        display: block; }
      .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-input {
        width: 100%;
        cursor: pointer; }
      .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown {
        display: none;
        width: 100%;
        height: auto;
        max-height: 200px;
        padding-left: 20px;
        top: 55%; }
        .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown li {
          display: flex;
          justify-content: space-between; }
          .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown li .vg-track-item-actions {
            display: none;
            font-size: 0.8em; }
            .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown li .vg-track-item-actions .vg-icon-edit {
              margin: 0 5px;
              cursor: pointer; }
            .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown li .vg-track-item-actions .vg-icon-delete-track {
              color: #b20102;
              margin: 0 10px;
              cursor: pointer; }
          .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown li:hover .vg-track-item-actions {
            display: block;
            cursor: default; }
    .vg-side-panel .vg-track-area-container .vg-track-actions {
      width: 20%;
      text-align: right; }
      .vg-side-panel .vg-track-area-container .vg-track-actions .vg-icon-add-track {
        margin-right: 0; }
  .vg-side-panel .vg-tags-search-area {
    padding: 10px 25px 10px 25px;
    margin-top: 2px;
    color: #8f8e94;
    background: #3C3F43; }
    .vg-side-panel .vg-tags-search-area .vg-selected-events {
      position: relative; }
      .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-selected-events-input {
        width: 120px;
        opacity: 0.6; }
      .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-icon-right {
        padding-right: 10px;
        font-size: 0.8em;
        cursor: default; }
    .vg-side-panel .vg-tags-search-area .vg-tags-search {
      position: relative; }
      .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-tags-search-input {
        width: 250px;
        color: white; }
      .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-icon-right {
        padding: 5px;
        cursor: default;
        background: #1F2023; }
  .vg-side-panel-events {
    overflow-y: auto;
    height: inherit;
    max-height: calc(100% - 135px); }
    .vg-side-panel-events::-webkit-scrollbar {
      width: 12px;
      background: #000000; }
    .vg-side-panel-events::-webkit-scrollbar-thumb {
      position: absolute;
      border: 4px solid #000000;
      border-radius: 15px;
      background: #3C3F43; }
    .vg-side-panel-events-item {
      margin: 8px 25px;
      padding: 8px 20px;
      background: #2D3033; }
      .vg-side-panel-events-item:hover {
        background: #3C3F43; }
      .vg-side-panel-events-item-time-area {
        color: #8f8e94; }
        .vg-side-panel-events-item-time-area .duration-value {
          padding: 0 15px 0 5px; }
      .vg-side-panel-events-item-tags-area {
        position: relative;
        color: white;
        margin: 10px 0;
        padding: 10px 0;
        line-height: 2rem;
        border-top: 1px solid #4B4E51;
        border-bottom: 1px solid #4B4E51; }
        .vg-side-panel-events-item-tags-area .vg-event-tag {
          height: 26px;
          display: inline-flex;
          align-items: center;
          white-space: nowrap;
          cursor: default;
          padding: 0 15px 0 15px;
          background: #4B4E51;
          border-radius: 13px; }
          .vg-side-panel-events-item-tags-area .vg-event-tag .vg-icon-delete {
            display: none;
            color: #8f8e94;
            margin-right: 0; }
        .vg-side-panel-events-item-tags-area .add_tag {
          padding-right: 12px;
          display: none; }
        .vg-side-panel-events-item-tags-area-input {
          display: none;
          width: 100%;
          padding-left: 15px !important;
          color: #8f8e94; }
          .vg-side-panel-events-item-tags-area-input-container {
            display: none;
            z-index: 1;
            position: absolute;
            width: 100%;
            background: #3C3F43;
            border-radius: 4px;
            box-shadow: -1px 0 15px -4px black; }
          .vg-side-panel-events-item-tags-area-input-dropdown {
            position: relative;
            width: 96%;
            height: auto;
            max-height: 200px;
            padding-left: 0;
            margin: 2%;
            overflow-y: auto;
            color: #8f8e94;
            background: #2D3033;
            border-radius: 4px;
            list-style: none;
            line-height: 2rem; }
            .vg-side-panel-events-item-tags-area-input-dropdown::-webkit-scrollbar {
              width: 10px;
              background: #1F2023; }
            .vg-side-panel-events-item-tags-area-input-dropdown::-webkit-scrollbar-thumb {
              border: 3px solid #1F2023;
              border-radius: 15px;
              background: #3C3F43; }
            .vg-side-panel-events-item-tags-area-input-dropdown li {
              padding-left: 10px;
              cursor: pointer;
              border-bottom: 1px solid #3C3F43; }
              .vg-side-panel-events-item-tags-area-input-dropdown li:hover {
                background: #4B4E51; }
        .vg-side-panel-events-item-tags-area.active .vg-side-panel-events-item-tags-area-input-container {
          display: block; }
      .vg-side-panel-events-item-description-area {
        color: #8f8e94; }
        .vg-side-panel-events-item-description-area .description-input {
          width: 100%;
          outline: none;
          border: 0;
          background: transparent;
          font-weight: 100;
          color: #8f8e94; }
      .vg-side-panel-events-item.editable {
        background: #3C3F43;
        box-shadow: inset 6px 0 0 0 #00a9d5; }
        .vg-side-panel-events-item.editable .vg-event-tag {
          padding: 0 8px 0 15px; }
        .vg-side-panel-events-item.editable .add_tag {
          display: inline-flex;
          cursor: pointer; }
        .vg-side-panel-events-item.editable .vg-icon-delete {
          display: inline-flex; }
      .vg-side-panel-events-item.new_event {
        background: #3C3F43;
        box-shadow: inset 6px 0 0 0 #ffc107; }
        .vg-side-panel-events-item.new_event .vg-side-panel-events-item-tags-area-input {
          display: block;
          width: calc(100% - 15px); }
  .vg-side-panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px 10px 25px;
    color: #8f8e94;
    background: #3C3F43; }
    .vg-side-panel-footer-content {
      position: relative; }
      .vg-side-panel-footer-content.active .vg-side-panel-footer-content-input-dropdown {
        display: block; }
      .vg-side-panel-footer-content-input {
        width: 200px;
        cursor: pointer;
        margin-right: -10px; }
      .vg-side-panel-footer-content-input-dropdown {
        display: none;
        width: 220px;
        max-height: 200px;
        bottom: 55%;
        padding-left: 0; }
        .vg-side-panel-footer-content-input-dropdown li {
          cursor: pointer;
          padding-left: 20px; }
          .vg-side-panel-footer-content-input-dropdown li:hover {
            background: #3C3F43; }

/* iPad 3 and 4 (Portrait and Landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .vg-main {
    overflow: hidden;
    padding: 0; }

  .vg-player-wrapper {
    position: absolute;
    width: 100%;
    height: inherit; }

  .vg-side-panel {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    left: 445px;
    margin-left: 545px;
    background: rgba(44, 44, 44, 0.5); } }
/* Laptops */
@media only screen and (max-width: 1024px) {
  .vg-main {
    overflow: hidden;
    padding: 0; }

  .vg-player-wrapper {
    position: absolute;
    width: 100%;
    height: inherit; }

  .vg-side-panel {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    left: 445px;
    margin-left: 100%;
    background: rgba(44, 44, 44, 0.5); } }
.vg-main, .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
  display: flex; }
  .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
    align-items: center;
    justify-content: space-between; }

.vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-input, .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-selected-events-input, .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-tags-search-input, .vg-side-panel-events-item-tags-area-input, .vg-side-panel-footer-content-input {
  height: 25px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background: #1F2023; }

.vg-side-panel-events-item.new_event .vg-side-panel-events-item-tags-area-input {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.vg-icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-dropdown, .vg-side-panel-footer-content-input-dropdown {
  position: absolute;
  overflow-y: auto;
  background: #1F2023;
  border-radius: 4px;
  z-index: 1;
  list-style: none;
  line-height: 2rem;
  box-shadow: -1px 0px 15px -4px black; }

body {
  font-family: Sans-Serif, Arial; }
  body .vg-side-panel {
    font-size: 14px;
    font-weight: 100; }

@font-face {
  font-family: 'VG_Custom_Icons';
  src: url("fonts/VG_Custom_Icons.ttf?wfxhul") format("truetype"), url("fonts/VG_Custom_Icons.woff?wfxhul") format("woff"), url("fonts/VG_Custom_Icons.svg?wfxhul#1") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="vg-icon-"], [class*=" vg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VG_Custom_Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.vg-icon-stumb-lock .path1:before {
  content: "\e901";
  color: black; }

.vg-icon-stumb-lock .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: #151618; }

.vg-icon-no-events:before {
  content: "\e927"; }

.vg-icon-user:before {
  content: "\e923"; }

.vg-icon-photo:before {
  content: "\e900"; }

.vg-icon-change_pass:before {
  content: "\e925"; }

.vg-icon-email:before {
  content: "\e908"; }

.vg-icon-information:before {
  content: "\e905"; }

.vg-icon-delete-track:before {
  content: "\e902"; }

.vg-icon-download:before {
  content: "\e903"; }

.vg-icon-edit:before {
  content: "\e904"; }

.vg-icon-role:before {
  content: "\e906"; }

.vg-icon-view:before {
  content: "\e907"; }

.vg-icon-add-track:before {
  content: "\e924"; }

.vg-icon-duration:before {
  content: "\e922"; }

.vg-icon-play-event:before {
  content: "\e921"; }

.vg-icon-select-all-new:before {
  content: "\e920"; }

.vg-icon-aspect-ratio:before {
  content: "\e91f"; }

.vg-icon-export:before {
  content: "\e918"; }

.vg-icon-show-select-inactive:before {
  content: "\e917"; }

.vg-icon-sub:before {
  content: "\e916"; }

.vg-icon-volume:before {
  content: "\e909"; }

.vg-icon-bracket:before {
  content: "\e90a"; }

.vg-icon-auto-black:before {
  content: "\e90b"; }

.vg-icon-flash-forward:before {
  content: "\e90c"; }

.vg-icon-scroll:before {
  content: "\e90d"; }

.vg-icon-marck:before {
  content: "\e90e"; }

.vg-icon-zoom:before {
  content: "\e90f"; }

.vg-icon-loop-event:before {
  content: "\e910"; }

.vg-icon-screen-shot:before {
  content: "\e911"; }

.vg-icon-new-event:before {
  content: "\e912"; }

.vg-icon-search:before {
  content: "\e913"; }

.vg-icon-delete:before {
  content: "\e914"; }

.vg-icon-copy:before {
  content: "\e915"; }

.vg-icon-bracket-close:before {
  content: "\e919"; }

.vg-icon-save-zone:before {
  content: "\e91a"; }

.vg-icon-garbage:before {
  content: "\e91b"; }

.vg-icon-rewind:before {
  content: "\e91c"; }

.vg-icon-full-screen:before {
  content: "\e91d"; }

.vg-icon-play:before {
  content: "\e91e"; }

/*# sourceMappingURL=vglogtool.css.map */
