html, body {
  width: 100%;
  height: 100%; }

.vg-main-container {
  width: 100%;
  height: 100%;
  display: block;
  background: #1F2023; }
.vg-header {
  height: 50px;
  color: #8A8B8D;
  background: #27282B; }
  .vg-header span {
    padding: 0 15px; }
.vg-main {
  height: calc(100% - 50px); }
.vg-player-wrapper {
  width: calc(100% - 450px);
  height: 100%;
  display: block; }
  .vg-player-wrapper .vg-player-section {
    width: 100%;
    height: calc(100% - 230px);
    background-image: url("ga.png");
    background-repeat: no-repeat;
    background-size: cover; }
.vg-side-panel {
  position: relative;
  width: 450px;
  height: 100%;
  box-shadow: 1px 1px 27px 1px red; }
  .vg-side-panel .vg-track-area-container {
    padding: 10px 25px 10px 25px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel .vg-track-area-container .vg-track-input-container {
      width: 85%; }
      .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-input {
        width: 100%;
        height: 25px;
        padding-left: 20px;
        border-radius: 4px;
        border: 0;
        outline: none;
        background: #1F2023; }
    .vg-side-panel .vg-track-area-container .vg-track-actions {
      width: 15%;
      text-align: right; }
  .vg-side-panel .vg-tags-search-area {
    padding: 10px 25px 10px 25px;
    margin-top: 2px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-selected-events-input {
      width: 120px;
      height: 25px;
      outline: none;
      opacity: 0.6;
      border-radius: 4px;
      border: 0;
      padding-left: 20px;
      background: #1F2023; }
    .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-tags-search-input {
      width: 220px;
      height: 25px;
      color: white;
      outline: none;
      border-radius: 4px;
      border: 0;
      padding-left: 20px;
      background: #1F2023; }
  .vg-side-panel-events {
    overflow-y: scroll;
    max-height: calc(100% - 135px); }
    .vg-side-panel-events-item {
      margin: 8px 25px;
      padding: 8px 20px;
      background: #2D3033; }
      .vg-side-panel-events-item:hover {
        background: #3C3F43; }
      .vg-side-panel-events-item-time-area {
        color: #8A8B8D; }
      .vg-side-panel-events-item-tags-area {
        color: white;
        margin: 10px 0;
        padding: 10px 0;
        line-height: 2rem;
        border-top: 1px solid #4B4E51;
        border-bottom: 1px solid #4B4E51; }
        .vg-side-panel-events-item-tags-area .vg-event-tag {
          padding: 5px 5px 5px 13px;
          white-space: nowrap;
          background: #4B4E51;
          border-radius: 13px; }
      .vg-side-panel-events-item-description-area {
        color: #8A8B8D; }
        .vg-side-panel-events-item-description-area .description-input {
          width: 100%;
          outline: none;
          border: 0;
          background: transparent;
          font-weight: 100;
          color: #8A8B8D; }
  .vg-side-panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px 10px 25px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel-footer input {
      width: 200px;
      height: 25px;
      outline: none;
      border-radius: 4px;
      border: 0;
      padding-left: 20px;
      background: #1F2023; }

.vg-main, .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
  display: flex; }
  .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
    align-items: center;
    justify-content: space-between; }

body {
  font-family: Sans-Serif, Arial; }
  body .vg-side-panel {
    font-size: 14px;
    font-weight: 100; }

/*# sourceMappingURL=vglogtool.css.map */
