html, body {
  width: 100%;
  height: 100%; }

.vg-main-container {
  width: 100%;
  height: 100%;
  display: block;
  background: #1F2023; }
.vg-header {
  height: 50px;
  color: #8A8B8D;
  background: #27282B; }
  .vg-header span {
    padding: 0 15px; }
.vg-main {
  height: calc(100% - 50px); }
.vg-player-wrapper {
  width: calc(100% - 480px);
  height: 100%;
  display: block; }
  .vg-player-wrapper .vg-player-section {
    width: 100%;
    height: calc(100% - 230px);
    background-image: url("ga.png");
    background-repeat: no-repeat;
    background-size: cover; }
.vg-side-panel {
  position: relative;
  width: 480px;
  height: 100%;
  box-shadow: 1px 1px 27px 1px red; }
  .vg-side-panel .vg-track-area-container {
    padding: 10px 25px 10px 25px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel .vg-track-area-container .vg-track-input-container {
      width: 85%; }
      .vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-input {
        width: 100%; }
    .vg-side-panel .vg-track-area-container .vg-track-actions {
      width: 15%;
      text-align: right; }
  .vg-side-panel .vg-tags-search-area {
    padding: 10px 25px 10px 25px;
    margin-top: 2px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-selected-events-input {
      width: 120px;
      opacity: 0.6; }
    .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-tags-search-input {
      width: 220px;
      color: white; }
  .vg-side-panel-events {
    overflow-y: auto;
    height: inherit;
    max-height: calc(100% - 135px); }
    .vg-side-panel-events::-webkit-scrollbar {
      width: 12px;
      background: #000000; }
    .vg-side-panel-events::-webkit-scrollbar-thumb {
      border: 4px solid #000000;
      border-radius: 15px;
      background: #3C3F43; }
    .vg-side-panel-events-item {
      margin: 8px 25px;
      padding: 8px 20px;
      background: #2D3033; }
      .vg-side-panel-events-item:hover {
        background: #3C3F43; }
      .vg-side-panel-events-item-time-area {
        color: #8A8B8D; }
        .vg-side-panel-events-item-time-area .vg-edit_icon {
          visibility: hidden; }
      .vg-side-panel-events-item-tags-area {
        position: relative;
        color: white;
        margin: 10px 0;
        padding: 10px 0;
        line-height: 2rem;
        border-top: 1px solid #4B4E51;
        border-bottom: 1px solid #4B4E51; }
        .vg-side-panel-events-item-tags-area .vg-event-tag {
          padding: 5px 13px 5px 13px;
          white-space: nowrap;
          background: #4B4E51;
          border-radius: 13px; }
        .vg-side-panel-events-item-tags-area .add_tag {
          display: none; }
        .vg-side-panel-events-item-tags-area-input {
          display: none;
          width: 100%;
          padding-left: 15px !important;
          color: #8A8B8D; }
          .vg-side-panel-events-item-tags-area-input-container {
            z-index: 1;
            position: absolute;
            width: 100%;
            background: #3C3F43;
            border-radius: 4px;
            box-shadow: -1px 0px 15px -4px black; }
          .vg-side-panel-events-item-tags-area-input-dropdown {
            position: relative;
            width: 96%;
            height: auto;
            max-height: 200px;
            padding-left: 0px;
            margin: 2%;
            overflow-y: auto;
            color: #8A8B8D;
            background: #2D3033;
            border-radius: 4px;
            list-style: none;
            line-height: 2rem; }
            .vg-side-panel-events-item-tags-area-input-dropdown::-webkit-scrollbar {
              width: 10px;
              background: #1F2023; }
            .vg-side-panel-events-item-tags-area-input-dropdown::-webkit-scrollbar-thumb {
              border: 3px solid #1F2023;
              border-radius: 15px;
              background: #3C3F43; }
            .vg-side-panel-events-item-tags-area-input-dropdown li {
              padding-left: 10px;
              cursor: pointer;
              border-bottom: 1px solid #3C3F43; }
              .vg-side-panel-events-item-tags-area-input-dropdown li:hover {
                background: #4B4E51; }
      .vg-side-panel-events-item-description-area {
        color: #8A8B8D; }
        .vg-side-panel-events-item-description-area .description-input {
          width: 100%;
          outline: none;
          border: 0;
          background: transparent;
          font-weight: 100;
          color: #8A8B8D; }
      .vg-side-panel-events-item.editable {
        background: #3C3F43;
        box-shadow: inset 6px 0px 0px 0px #0082FF; }
        .vg-side-panel-events-item.editable .vg-edit_icon {
          visibility: visible; }
        .vg-side-panel-events-item.editable .add_tag {
          display: inline;
          cursor: pointer; }
      .vg-side-panel-events-item.new_event {
        background: #3C3F43;
        box-shadow: inset 6px 0px 0px 0px #ffb617; }
        .vg-side-panel-events-item.new_event .vg-side-panel-events-item-tags-area-input {
          display: block;
          width: calc(100% - 15px); }
        .vg-side-panel-events-item.new_event .vg-edit_icon {
          visibility: visible; }
  .vg-side-panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px 10px 25px;
    color: #8A8B8D;
    background: #3C3F43; }
    .vg-side-panel-footer-content {
      position: relative; }
      .vg-side-panel-footer-content .vg-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
      .vg-side-panel-footer-content-input {
        width: 200px;
        cursor: pointer; }
        .vg-side-panel-footer-content-input:hover .vg-side-panel-footer-content.yo {
          display: block !important; }
      .vg-side-panel-footer-content-input-dropdown {
        position: absolute;
        width: 220px;
        max-height: 200px;
        overflow-y: scroll;
        background: #1F2023;
        bottom: 55%;
        border-radius: 4px;
        list-style: none;
        line-height: 2rem;
        padding-left: 0px;
        box-shadow: -1px 0px 15px -4px black; }
        .vg-side-panel-footer-content-input-dropdown li {
          padding-left: 20px;
          cursor: pointer; }
          .vg-side-panel-footer-content-input-dropdown li:hover {
            background: #3C3F43; }

.vg-main, .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
  display: flex; }
  .vg-header, .vg-side-panel .vg-track-area-container, .vg-side-panel .vg-tags-search-area, .vg-side-panel-events-item-time-area, .vg-side-panel-footer {
    align-items: center;
    justify-content: space-between; }

.vg-side-panel .vg-track-area-container .vg-track-input-container .vg-track-input, .vg-side-panel .vg-tags-search-area .vg-selected-events .vg-selected-events-input, .vg-side-panel .vg-tags-search-area .vg-tags-search .vg-tags-search-input, .vg-side-panel-events-item-tags-area-input, .vg-side-panel-footer-content-input {
  height: 25px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background: #1F2023; }

body {
  font-family: Sans-Serif, Arial; }
  body .vg-side-panel {
    font-size: 14px;
    font-weight: 100; }

/*# sourceMappingURL=vglogtool.css.map */
